/* font-family: 'Libre Baskerville', serif;
font-family: 'Raleway', sans-serif; */

@font-face {
    font-family: "baskerville";
    src: url("fonts/LibreBaskerville-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "raleway";
    src: url("fonts/raleway-variablefont_wght.ttf") format("ttf");
}

:root {
    --light-grey: #f2f2f2;
    --logo-color: #0A3641;
}

* {
    margin: 0;
    padding: 0;
}

/* HOME PAGE */

body {
    background-image: url('../images/hjemmesidebilde.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* menu section*/

nav {
    background-color: #ffffff;
    opacity: 70%;
}

li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0 10px 0;
}

li a {
    display: block;
    text-decoration: none;
    font-family: 'libre baskerville', serif;
    font-size: 2rem;
    padding: 0 20px;
    color: var(--logo-color)
}

li a:hover {
    text-decoration: underline;
}

img {
    width: 109px;
    height: 58px;
}

.search {
    margin-left: 525px;
}

/* info section */

.check {
    height: 90px;
    width: 110px;
    margin-left: 345px;
    margin-top: 15px;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
}

p {
    font-size: 1.5rem;
    margin-top: 15px;
    text-align: center;
}

.button {
    background-color: var(--logo-color);
    color: var(--light-grey);
    font-size: 2rem;
    font-weight: 700;
    height: 70px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    padding-top: 35px;
}

.button:hover {
    font-size: 2.5rem;
    transition-duration: 0.5s;
    transition-property: font-size;
}

.wrapper {
    background-color: var(--light-grey);
    opacity: 90%;
    height: 400px;
    width: 800px;
    margin: auto;
    margin-top: 130px;
}