/* font-family: 'Libre Baskerville', serif;
font-family: 'Raleway', sans-serif; */

@font-face {
    font-family: "baskerville";
    src: url("fonts/LibreBaskerville-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "raleway";
    src: url("fonts/raleway-variablefont_wght.ttf") format("ttf");
}

:root {
    --light-grey: #f2f2f2;
    --logo-color: #0A3641;
}

* {
    margin: 0;
    padding: 0;
}

/* MAIN MENU*/

/* MAIN MENU*/

nav {
    background-color: var(--light-grey);
}


li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0 10px 0;
}

li a {
    display: block;
    text-decoration: none;
    font-family: 'libre baskerville', serif;
    font-size: 2rem;
    padding: 0 20px;
    color: var(--logo-color)
}

li a:hover {
    text-decoration: underline;
}

.contact {
    text-decoration: underline;
}

img {
    width: 109px;
    height: 58px;
}

.search {
    margin-left: 500px;
}


/* Text section */

h1 {
    grid-area: h1;
    font-size: 5rem;
    margin-left: 140px;
    align-self: end;
}

h2 {
    grid-area: h2;
    font-size: 2rem;
    font-weight: 400;
    margin-left: 140px;
    align-self: center;
}

.email {
    grid-area: email;
    margin-left: 140px;
    align-self: center;
}

.phone {
    grid-area: phone;
    align-self: center;
    justify-self: center;
}

.adress {
    grid-area: adress;
    align-self: center;
    justify-self: center;
}

p {
    font-size: 1.5rem;
}


/* Image */

.image {
    background-image: url('../images/teltturbilde.jpg');
    height: 664px;
    width: 468px;
    background-position: center;
    background-size: cover;
    grid-area: image;
}

/* Form section */

.text {
    margin-left: 140px;
    font-size: 2rem;
    margin-top: 20px;
}

::placeholder {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

input, textarea {
    border: 2px solid var(--logo-color);
}

input:focus, textarea:focus {
    border: 3px solid var(--logo-color);
}

.name {
    grid-area: name;
}

.mail {
    grid-area: mail;
}

.cellphone {
    grid-area: cellphone;
}

.message {
    grid-area: message;
}

.send {
    grid-area: send;
    background-color: #035373;
    color: var(--light-grey);
    font-size: 1.5rem;
}

/* Layout */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 470px;
    grid-template-rows: 151px 90px 70px;
    grid-template-areas: 
        "h1 h1 . image"
        "h2 h2 h2 image"
        "email phone adress image";
}

form {
    display: grid;
    grid-template-columns: 341px 531px;
    grid-template-rows: 59px 59px 59px 59px;
    row-gap: 15px;
    column-gap: 15px;
    margin-left: 140px;
    grid-template-areas: 
        "name message"
        "mail message"
        "cellphone message"
        "send .";
}

