/* font-family: 'Libre Baskerville', serif;
font-family: 'Raleway', sans-serif; */

@font-face {
    font-family: "baskerville";
    src: url("fonts/LibreBaskerville-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "raleway";
    src: url("fonts/raleway-variablefont_wght.ttf") format("ttf");
}

:root {
    --light-grey: #f2f2f2;
    --logo-color: #0A3641;
}

* {
    margin: 0;
    padding: 0;
}


/* MAIN MENU*/

nav {
    background-color: var(--light-grey);
}


li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0 10px 0;
}

li a {
    display: block;
    text-decoration: none;
    font-family: 'libre baskerville', serif;
    font-size: 2rem;
    padding: 0 20px;
    color: var(--logo-color)
}

li a:hover {
    text-decoration: underline;
}

.shop {
    text-decoration: underline;
}

img {
    width: 109px;
    height: 58px;
}

.search {
    margin-left: 500px;
}

/* image section */

h1 a, h2 a {
    text-decoration: none;
    color: var(--light-grey);
}

h1 {
    grid-template-areas: men;
    text-decoration: none;
    padding-left: 20px;
    font-size: 10.4rem;
    background-image: url(../images/herrejakker.jpg);
    height: 664px;
    background-position: center;
}

h1:hover {
    opacity: 70%;
}

h2 {
    grid-template-areas: women;
    text-decoration: none;
    padding-left: 20px;
    font-size: 10.4rem;
    background-image: url(../images/damejakker.jpg);
    background-position: center;
}

h2:hover {
    opacity: 70%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
     "men women";
}