.button1 {
    color: #f2f2f2;
    font-size: 41px;
    background-color: #0A3641;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 825px;
    height: 70px;
    transition: width, height, 2s, foward;
}

.button1:hover {
    width: 850px;
    height: 95px;
}